:root {
  --cs-bg-gray: #f8f8f8;
  --cs-color-gray: #6e6b7b;
  --cs-color-gray1: #5e5873;
  --cs-bg-button: #7367f0;
  --bs-dark: #212529;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
